.campaign-container {
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.campaign-title {
  font-family: 'Apple Chancery, cursive';
  font-size: 30px;
  font-style: italic;
  color: #ff9800;
}

.scenario-title {
  font-size: 24px;
}

.error {
  color: rgb(228, 4, 4);
}
